PORT=3000

NEXT_PUBLIC_SERVER_HOST=http://localhost:3333

NEXT_PUBLIC_apiKey=IN_FIREBASE
NEXT_PUBLIC_authDomain=IN_FIREBASE
NEXT_PUBLIC_projectId=IN_FIREBASE
NEXT_PUBLIC_storageBucket=IN_FIREBASE
NEXT_PUBLIC_messagingSenderId=IN_FIREBASE
NEXT_PUBLIC_appId=IN_FIREBASE

NEXT_PUBLIC_VAPID_KEY=IN_FIREBASE

LOCAL_STORAGE_FCM_KEY="task_app_fcm_token" #can change
